# This is a basic workflow to help you get started with Actions

name: deployment

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ action-prac  ]
  workflow_dispatch:
    inputs:
      timeout:         
        description: 'CodeDeploy Deployment Timeout (second)'
        required: true
        default: 10

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - id: mystep
        run: echo "::set-output name=matrix::{\"deploymentId\":\"d-SK5T21K55\"}"
      - name: echo
        run: echo ${{ steps.mystep.outputs.matrix }}
      - name: echo0
        run: echo ${{ fromJson(steps.mystep.outputs.matrix) }}
      - name: echo1-2
        run: |
          res=${{ fromJson(steps.mystep.outputs.matrix).deploymentId }}
          echo $res
      - name: echo2
        run: echo ${{ fromJson(steps.mystep.outputs.matrix).deploymentId }}
        
      - name: sleep
        run: |
          i=2
          status_check_time_unit=3
          while [[ $i -lt ${{ github.event.inputs.timeout }} ]]
          do
            echo $i
            i=$(($i+1))
            if [[ $i == 11 ]]; then
              break
            fi
            sleep $status_check_time_unit
          done
        
